html,
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.items,
#losing-item,
.paper-parts,
#result,
#retry {
  display: none;
}

.items.show,
#result.show,
#retry.show {
  display: block;
}

#fight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#fight > * {
  flex: 33%;
  height: 100%;
}

#versus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#player,
#enemy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.items,
#losing-item {
  height: 25%;
}

#result {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  bottom: calc(0% + 10rem);
  transform: translate(-50%, 0%);
}

#retry {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  bottom: calc(0% + 5rem);
  transform: translate(-50%, 0%);
}

#losing-item.show {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.paper-parts.show {
  display: block;
  background-image: url("assets/paper.png");
  width: 100%;
  height: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.paper-parts.top {
  transform-origin: center left;
  animation: 1s linear 1s forwards running cut-paper-top;
}

.paper-parts.bottom {
  background-position: 0% 100%;
  transform-origin: center left;
  animation: 1s linear 1s forwards running cut-paper-bottom;
}

@keyframes cut-paper-top {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

@keyframes cut-paper-bottom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
